<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <meta charset="<%= htmlWebpackPlugin.options.charset %>">
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
	  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
	  <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" type="image/x-icon" href=""> -->
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>